<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Nombre:</strong>
    <%= pokemon.nombre %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= pokemon.categoria %>
  </p>

  <p>
    <strong>Habilidad:</strong>
    <%= pokemon.habilidad %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= pokemon.tipo %>
  </p>

  <p>
    <strong>Debilidad:</strong>
    <%= pokemon.debilidad %>
  </p>

</div>
